@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET SignalR</h2>
    <p class="lead">This is Simple SignalR Web Application</p>
    <p><a href="/Home/AskQuery" class="btn btn-primary btn-lg">Ask Query?</a></p>
</div>
